*/*.tar.gz
*/*/*.tar.gz
*/*/*/*.tar.gz
*/*.tgz
*/*/*.tgz
*/*/*/*.tgz
*/*.tar.bz2
*/*/*.tar.bz2
*/*/*/*.tar.bz2
*/*.rpm
*/*/*.rpm
*/*/*/*.rpm
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*.xz
*/*/*.xz
*/*/*/*.xz
*/noarch
*/*/*/noarch
*/*/*/x86_64
*/x86_64
*/*/*/x86_64
*.xpi
*~
*/*/clog
*/*/*/clog
package*.xml
composer-[0-9]*.json

php/php-twig
php/php-twig2
glpi
php/php-league-flysystem
php/php-justinrainbow-json-schema5
php/php-phalcon
php/php-phalcon2
php/php-phalcon3
tools
php/phpunit
remi-release
scl-php54
scl-php55
scl-php56
scl-php70
scl-php71
php/pecl
php/zend
