*/*.tar.gz
*/*/*.tar.gz
*/*/*/*.tar.gz
*/*.tgz
*/*/*.tgz
*/*/*/*.tgz
*/*.tar.bz2
*/*/*.tar.bz2
*/*/*/*.tar.bz2
*/*.rpm
*/*/*.rpm
*/*/*/*.rpm
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*.xz
*/*/*.xz
*/*/*/*.xz
*/noarch
*/*/*/noarch
*/*/*/x86_64
*/x86_64
*/*/*/x86_64
*.xpi
*~
*/*/clog
*/*/*/clog
package*.xml
composer-[0-9]*.json

php/php-twig
php/php-twig2
glpi
php/php-league-flysystem
php/php-justinrainbow-json-schema5
php/php-phalcon
php/php-phalcon2
php/php-phalcon3
tools
php/phpunit
remi-release
scl-php54
scl-php55
scl-php56
scl-php70
scl-php71
php/pecl
php/zend
ImageMagick6
ImageMagick7
redis
memcached
php/aws
php/php52
php/php53
php/php54
php/php54-extras
php/php55
php/php55-extras
php/php56
php/php56-extras
php/php70
php/php71
php/sabredav
oracle
php/zeta
php/wikimedia
php/theseer
php/tecnick
php/react
php/symfony2
libreoffice-grammalecte
