location = /roundcubemail {
    alias /usr/share/roundcubemail/;
}

location /roundcubemail/ {
    root /usr/share;
    index index.php;

    location ~ ^/roundcubemail/bin/(.+)$ {
        deny all;
    }
    location ~ ^/roundcubemail/plugins/enigma/home/(.+)$ {
        deny all;
    }

    # Define who can access the installer
    # keep this secured once configured

    location ~ ^/roundcubemail/installer/(.+\.php)$ {
        allow 127.0.0.1;
        allow ::1;
        deny all;

        try_files $uri =404;
        fastcgi_intercept_errors on;
        include        fastcgi_params;
        fastcgi_param  SERVER_NAME      $host;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_pass   php-fpm;
    }

    # Define who can access the Webmail
    # You can enlarge permissions once configured

    location ~ ^/roundcubemail/(.+\.php)$ {
        allow 127.0.0.1;
        allow ::1;
        deny all;

        try_files $uri =404;
        fastcgi_intercept_errors on;
        include        fastcgi_params;
        fastcgi_param  SERVER_NAME      $host;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_pass   php-fpm;
    }
}
