# APM (Alternative PHP Monitor)
#
# Allows only localhost by default
#

location = /@ALIAS@ {
    alias @SHARE@/@ALIAS@/;
}

location /@ALIAS@/ {
     root @SHARE@;
     index index.php index.html;

     location ~ ^/@ALIAS@/(.+\.php)$
     {
         allow 127.0.0.1;
         allow ::1;
         deny all;

         try_files $uri =404;
         fastcgi_intercept_errors on;
         include        fastcgi_params;
         fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
         fastcgi_pass   php-fpm;
     }
}
