[Unit]
Description=Redis sentinel
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/redis-sentinel /etc/redis-sentinel.conf --daemonize no
User=redis
Group=redis

[Install]
WantedBy=multi-user.target

